*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    align-items: center;
    background-color: #f7f7f7;
}
section{
    margin-top: 7rem;
    scroll-margin-top: 150px;
}

.navs{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    padding: 1 2;
    max-height: 120px;
    width: 100%;
    margin: 0 auto;
    top:0;
    background-color: white;
}
.my-logo img{
    margin-left: 30px;
    height: 120px;
    width: auto;
}
.menu a{
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.menu a:hover{
    color: #2626b1;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}
.home-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 1rem;
}
.intro{
    margin-left: 5rem;
    text-align: left;
    padding: 0 5rem;
}
.greet{
    font-size: 3rem;
}
.introduce{
    font-size: 6rem;
    color:#211e1e
}
.short-desc{
    font-size: 1.5rem;
}
.picture-me{
    margin: 30px;
    padding: 0 20px;
}
.my-picture img{
    height: 500px;
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    filter: grayscale(50%);
    transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;
}

.my-picture img:hover{
    transform: scale(1.05);
    transition: 0.5s;
    filter: grayscale(0);
}
.about-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 3rem;
}
.my-profile-pic{
    position:relative;
    margin-left: 1rem;
}
.my-profile-pic img{
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
}
.my-profile-pic img:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}
.my-info{
    display: flex;
    flex-direction: column;
    padding: 0 3rem;

}
.profile-text{
    margin: 5em 0px;
}
.name{
    font-size: 3rem;
    color: #000000;
}
.bio{
    font-size: 1.5rem;
}
.front-name{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: red;
}
.skill{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin:0;
}
.skill-set{
    background: #f7f7f7;
    height: auto;
    width: auto;
    text-align: center;
    padding: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;
    
}
.skill-set:hover{
    background-color: #f7f7f725;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transform: scale(1.3);
    transition: 0.5s ease-out;
    box-shadow: 3px 3px 10px rgb(223, 208, 208);
    cursor: pointer;
}
.skill-set h1{
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}
.skill-set img{
    height: 40px;
    width: auto;
}
#projects{
    background-color: rgb(237, 237, 237);
    padding: 4rem 0;
}
.parent-box{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0px;
}

.box-child{
    position: relative;
    margin: auto;
    width: 20%;
    height: 200px;
    background-color: #000000;
    opacity: 70%;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-size: 0;
    transition: transform 0.6s ease-in-out;

}
.box-child:hover{
    transform: scale(1.1);
    transition: 1s ease ;
    opacity: 60%;
    background-color: #bebedd9f;
    font-size: 12px;
}

.box-child img{
    display: block;
    height: 200px;
    width: 100%;
}
@media only screen and (max-width: 600px){
    .navs{
        padding: 1 2;
        max-height: 100px;
    }
    .my-logo img{
        margin-left: 30px;
        height: 50px;
        width: auto;
    }
    .menu a{
        margin-right: 5px;
        font-size: 15px;
    }
    .home-box{
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem;
    }
    .intro{
        margin:auto;
        padding: 0 0.5rem;
    }
    .greet{
        font-size: 1.5rem;
    }
    .introduce{
        font-size: 2.5rem;
        color:#211e1e
    }
    .short-desc{
        font-size: 1rem;
    }
    .picture-me{
        margin: auto;
        padding: 10px 20px;
    }
    .my-picture img{
        height: 400px;
    }
    .about-me{
        display: flex;
        flex-wrap: wrap;
    }
    .my-profile-pic{
        position:relative;
        margin:auto;
    }
    .my-profile-pic img{
        height: 400px;
    }
    .profile-text{
        margin:auto;
    }
    .name{
        font-size: 2rem;
        color: #000000;
    }
    .bio{
        font-size: 1rem;
    }
    .front-name{

        font-size: 1.5rem;

    }
    .skill{
        gap: 0px;
        margin: auto;
        padding: 0;
    }
    .skill-set h1{
        font-size: 10px;
        font-weight: 100;
    }
    .skill-set img{
        height: 20px;
        width: auto;
    }
}
