*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    align-items: center;
    background-color: #f7f7f7;
}
html {
  scroll-behavior: smooth;
}

section{
    margin-top: 7rem;
    scroll-margin-top: 150px;
}

.navs{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    padding:0;
    min-height: 90px;
    width: 100%;
    margin: 0;
    top:0;
    background-color: white;
}
#menu-text{
    display: none;
}

.nav-link{
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav-link:hover{
    color: #2626b1;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}
.home-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 1rem;
}
.my-logo h1{
    font-weight: 800;
    text-shadow: 2px 2px 4px black;
    margin-left: 20px;
}
#c{
    color: blue;
}
#n{
    color: red;
}
.intro{
    margin-left: 5rem;
    text-align: left;
    padding: 0 5rem;
}
.greet{
    font-size: 3rem;
    font-weight: 800;
}
.introduce{
    font-size: 6rem;
    color:#480505;
    font-weight: 800;
    overflow: hidden;
    white-space: nowrap;
    animation: textWrite 2s ease-in ;
    animation-iteration-count: 3;
}
@keyframes textWrite {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
.short-desc{
    font-size: 1.5rem;
    font-weight: 100;
}
.picture-me{
    margin: 30px;
    padding: 0 20px;
}
.my-picture img{
    height: 500px;
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    filter: grayscale(50%);
    transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;
}

.my-picture img:hover{
    transform: scale(1.05);
    transition: 0.5s;
    filter: grayscale(0);
}
.about-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 3rem;
}
.my-profile-pic{
    position:relative;
    margin-left: 1rem;
}
.my-profile-pic img{
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
}
.my-profile-pic img:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}
.my-info{
    display: flex;
    flex-direction: column;
    padding: 0 3rem;

}
.profile-text{
    margin: 5em 0px;
}
.name{
    font-weight: 550;
    font-size: 4rem;
    color: #000000;
    margin: 1rem 0;
}
.bio{
    margin: 1rem 0;
    font-size: 1.5rem;
}
.front-name{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: red;
}
.skill{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin:auto;
}
.skill-set{
    background: #f7f7f7;
    height: auto;
    width: auto;
    text-align: center;
    padding: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;
    margin: auto;
}
.skill-set:hover{
    background-color: #f7f7f725;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transform: scale(1.3);
    transition: 0.5s ease-out;
    box-shadow: 3px 3px 10px rgb(223, 208, 208);
    cursor: pointer;
}
.skill-set h1{
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}
.skill-set img{
    height: 40px;
    width: auto;
}
#projects{
    background-color: rgb(237, 237, 237);
    padding: 4rem 0;
}
.parent-box{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0px;
}

.box-child{
    position: relative;
    margin: auto;
    width: 20%;
    height: 200px;
    background-color: #000000;
    opacity: 70%;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-size: 0;
    transition: transform 0.6s ease-in-out;

}
.box-child:hover{
    transform: scale(1.1);
    transition: 1s ease ;
    opacity: 60%;
    background-color: #bebedd9f;
    font-size: 12px;
}

.box-child img{
    display: block;
    height: 200px;
    width: 100%;
}
#certificate{
    width: 100%;
    padding: 5rem 0;
}
.certification-text{
    font-weight: 600;
    font-size: 3rem;
    padding: 2rem 3rem;

}
.certification-text span{
    color: red;
}
.cert-box{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin: 0;
    gap: 40px;
    padding: 1rem;
}
.certs{
    margin: 10px auto;
    border: 1px solid;
    height: auto;
    padding: 0;
    transition: transform 0.6s ease-in-out;
}
.certs:hover{
    transform: scale(1.1);
}

.certs img{
    height: 400px;
    width: auto;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;

    
}

.submit-form{
    width: 50%;
    margin: 0;

}
form{
    width: 80%;
    margin: auto;
    display: grid;
    grid-column: 10;

}
label{
    font-weight: 100;
    font-size: 20px;
    text-align: left;
}
#name,#user-email{
    padding: 2px 0 0 6px;
    margin: 0 0 10px 0;
    width: 90%;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
}
#message-box{
    padding: 5px 0 0 6px;
    height: 300px;
    width: 90%;
    border-radius: 4px;
}
button{
    margin-top: 20px;
    height: 40px;
    width: 90px;
}
.contact-information{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #e9c3c375;
    padding: 110px 70px;
    margin:0;
    width: 50%;
    height: 100%;
}
.contact-parent-box{
    width: 100%;
}

.connect-text{
    padding: 0;
    font-size: 3rem;
    font-weight: 800;
    color: rgb(1, 0, 0);
}

.contact-card{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60%;
    padding: 0;
    margin: 10px 0;
}
.contact-icon img{
    height: 50px;
}
.contact-text{
    text-align: left;
}
.contact-text h1{
    font-weight: 300;
    font-size: 1.5rem;
}
@media only screen and (max-width: 600px){
    *{
        margin: 0;
    }
    .navs{
        height: 60px;
    }
    .my-logo img{
        margin-left: 30px;
        height: 50px;
        width: auto;
    }
    .menu{
        background-color: #170202;
        width: 80px;
        height: 40px;
        position: sticky;
        right: 10;
        margin-right: 60px;
        border-radius: 6px;
        border: 2px solid red;
    }
    .nav-link{
        display: none;
        text-align: center;
    }
    html{
        scroll-behavior: smooth;
    }
    #menu-text{
        display: block;
        color: aliceblue;
        font-weight: 200;
        font-size: 20px;
        padding: 7px 0 5px 0;
        
    }
    .nav-link.open {
        position: relative;
        display: flex;
        width: 150px;
        background-color: red;
        padding: 4px 3px;
        right: 40px;
        margin-right: 30px;
        margin-top: 20px;
        border: 2px solid ;
        animation: shownav 1s ;
        transition: 1s;
        
    }
    @keyframes shownav {
        from{
            height: 0%;
        }
        to{
            height: 60%;
        }
    }
    .home-box{
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem;
    }
    .intro{
        margin:auto;
        padding: 0 0.5rem;
    }
    .greet{
        font-size: 1.5rem;
    }
    .introduce{
        font-size: 2.5rem;
        color:#211e1e
    }
    .short-desc{
        font-size: 1rem;
    }
    .picture-me{
        margin: auto;
        padding: 10px 20px;
    }
    .my-picture img{
        height: 300px;
    }
    .about-me{
        display: flex;
        flex-wrap: wrap;
    }
    .my-profile-pic{
        position:relative;
        margin:auto;
    }
    .my-profile-pic img{
        height: 300px;
    }
    .profile-text{
        margin:auto;
    }
    .name{
        font-size: 2rem;
        color: #000000;
        text-align: center;
    }
    .bio{
        font-size: 1rem;
    }
    .front-name{

        font-size: 1.5rem;

    }
    .skill{
        gap: 5px;
        margin: auto;
        padding: 0;
    }
    .skill-set h1{
        font-size: 10px;
        font-weight: 100;
    }
    .skill-set img{
        height: 30px;
        width: auto;
    }
    footer{
        display: inline;
        width: 100%;


    }
    footer div{
        display: block;
        position: absolute;
        width: 100%;
        padding: 100px;
    }
    footer a{
        margin: 0px;
    }
    .box-child{
        width: 50%;
        height: auto;
        opacity: 100%;
    }
    .certification-text{
        font-size: 2rem;
    }
    .cert-box{
        flex-wrap: nowrap;
        overflow: auto;
        gap: 20px;
    }
    .certs img{
        height: 150px;
        width: 200px;
    }
    .submit-form{
        padding: 0;
        width: 100%;
        margin: auto;
    }form{
        margin: auto;
    }
    label{
        margin-left: 9%;
        padding: 10px 0;
        font-weight: 100;
        font-size: 20px;
        text-align: left;
    }
    #name,#user-email{
        padding: 0 0 0 6px;
        margin-bottom: 30px;
        width: 80%;
        height: 40px;
        border-radius: 4px;
        margin: auto;
    }
    button{
        margin-left: 9%;
    }
    #message-box{
        padding: 0 0 0 6px;
        height: 300px;
        width: 80%;
        border-radius: 4px;
        margin: auto;
    }
    .contact-container{
        display: grid;
        height: fit-content;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .contact-parent-box{
        width: 100%;
    }
    .contact-information{
        margin-top: 30px;
        display: grid;
        padding: 0;
        width: 100%;
        height: fit-content;
    }
    .contact-card{
        width: fit-content;
    }
}

.contact-footer{
    display: block;
    position:absolute;
    left: 0;
    bottom: 0.1;
    text-align:left;
    width: min(50%,200px);
    padding: 10px 5px;
    gap: 5px;
}
.contact-footer img{
    height: 20px;
    margin: 0 10px;
}
footer p{
    text-align: center;
    padding-top: 20px;
}